<app-header>
</app-header>

<div class="container-fluid mainContent">

    <div class="loginContainer">
        <form class="form-signin" role="form" ng-submit="changePassword()" ng-init="onTransaction = false">

            <ol class="breadcrumb">
                <li><a href="#/dashboard"><span class="fa fa-home" aria-hidden="true"></span> Dashboard</a></li>
                <li class="active"><span class="fa fa-book" aria-hidden="true"></span> {{title}}</li>
            </ol>

            <h3>
                {{title}}
            </h3>



            <div id="loginAlert" class="alert alert-{{responseDataLogin.status}} alert-dismissible" role="alert"  ng-show="onResponse && !onTransaction ">
                <button type="button" class="close" data-dismiss="loginAlert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>{{responseDataLogin.message}}</span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" ng-model="formData.email" class="form-control" placeholder="Email address" required autofocus ng-init="formData.email = 'admin'" ng-disabled="onTransaction">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input id="password" type="password" ng-model="formData.password" class="form-control" placeholder="Password" required ng-init="formData.password = 'admin'" ng-disabled="onTransaction">
            </div>
            <div class="form-group">
                <label for="newPassword">Nova senha</label>
                <input id="newPassword" type="password" ng-model="formData.newPassword" class="form-control" placeholder="New password" required ng-init="formData.newPassword = 'admin1'" ng-disabled="onTransaction">
            </div>
            <br>
            <button class="btn btn-primary" type="submit" ng-disabled="onTransaction">Mudar</button>
        </form>
    </div>

</div>
<!-- end container -->

<app-footer>
</app-footer>
