<app-header>
</app-header>
<div class="container-fluid mainContent">



    <div>

    <div class="row" ng-repeat="shortcut in shortcuts">
      <div class="col-sm-2">
        <a href="{{shortcut.url}}" class="btn btn-primary btn-lg dashShortcut" style="min-width:100%">
          <span class="fa fa-{{shortcut.icon}}" aria-hidden="true"></span>
          {{shortcut.title}}
        </a>
      </div>
    </div>


    </div>
     <script>
    // $(window).load(function(){
    //     var started = angular.element(document.querySelector('[ng-controller="IndexController"]')).scope().started;
    //     console.log(started);
    //
    //     if(!started){
    //         location.reload();
    //         angular.element(document.querySelector('[ng-controller="IndexController"]')).scope().started = true;
    //     }
    //
    //
    // });
     </script>


</div>
<app-footer>
</app-footer>
