<!-- <div class="row">
  <div class="col-xs-1">
    <button type="button" class="btn btn-default btn-lg dashShortcut">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      Disciplinas
    </button>
  </div>
</div> -->
<div ng-controller="DashboardController">

<div class="row" ng-repeat="shortcut in shortcuts">
  <div class="col-xs-1">
    <a href="{{shortcut.url}}" class="btn btn-default btn-lg dashShortcut">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      {{shortcut.title}}
    </a>
  </div>
</div>


</div>
