<app-header>
</app-header>

<div class="container-fluid mainContent">

    <ol class="breadcrumb">
        <li><a href="#/dashboard"><span class="fa fa-home" aria-hidden="true"></span> Dashboard</a></li>
        <li class="active"><span class="fa fa-book" aria-hidden="true"></span> {{title}}</li>
    </ol>

    <h3>
        {{title}}
    </h3>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-left toolbar">
                <!-- <professor-create-view></professor-create-view> -->
                <modal id="professorCreateModal" on-primary-button-click-event="saveProfessor()" primary-button-text="Salvar" secondary-button-text="Cancelar" modal-title="Novo Registro" modal-body="../professor/professorCreateModal.html" modal-dismissible="true"></modal>
                <a data-target="#{{professorCreateModal}}" type="button" class="btn btn-primary navbar-btn" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Novo
                </a>

            </div>

            <form class="navbar-form navbar-left" role="search" ng-submit="searchProfessors()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome ou código do professor" style="min-width:300px;">
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="onTransaction">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Buscar</button>
            </form>

        </div>
    </nav>





    <div>
        <table class="table table-striped" ng-table="tableParams">
            <tbody>
            <tr ng-repeat="professor in $data"  ng-mouseover="showButtons = true" ng-mouseleave="showButtons = false">

                <td data-title="'Matrícula'" sortable="'code'" width="10%">{{professor.registry}}</td>
                <td data-title="'Nome'" sortable="'name'" width="20%">{{professor.person.name}}</td>
                <td data-title="'CPF'" sortable="'cpf'" width="20%">{{professor.person.cpf}}</td>
                <td data-title="'Email'" sortable="'email'" width="20%">{{professor.person.email}}</td>

                <td width="20%">


                    <div class="registryOptions" ng-show="showButtons">

                        <!-- DELETE REGISTRY -->
                        <modal id="professorDeleteModal" on-primary-button-click-event="deleteProfessor(professor)" primary-button-text="Apagar" primary-button-context="danger" secondary-button-text="Cancelar" modal-title="Apagar Registro" modal-body-html="Deseja apagar o registro?" modal-dismissible="true"></modal>
                        <a data-target="#{{professorDeleteModal}}" type="button" class="btn btn-danger btn-sm" data-toggle="modal">
                            <i class="fa fa-times-circle"></i>
                            Apagar
                        </a>

                        <!-- UPDATE REGISTRY -->
                        <modal id="professorUpdateModal" on-primary-button-click-event="updateProfessor(professor)" primary-button-text="Atualizar" primary-button-context="primary" secondary-button-text="Cancelar" modal-title="Atualizar Registro" modal-body="../professor/professorCreateModal.html" modal-dismissible="true"></modal>
                        <a data-target="#{{professorUpdateModal}}" type="button" class="btn btn-primary btn-sm" data-toggle="modal">
                            <i class="fa fa-pencil"></i>
                            Editar
                        </a>

                    </div>

                </td>
            </tr>

            <tr ng-show="onResponse || onTransaction" ng-hide="onResponse">
                <td colspan="3" class="{{responseData.status}} text-{{responseData.status}}">
                    <i class="fa fa-{{responseData.status}}"></i>
                    {{responseData.message}}
                </td>
            </tr>

            </tbody>
        </table>

    </div>

</div>
<!-- end container -->

<app-footer>
</app-footer>
