<app-header>
</app-header>

<modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
<a data-toggle="modal" data-target="#{{modal1}}" role="button" class="btn btn-success" >Launch Demo Modal</a>

<ol class="breadcrumb">
    <li><a href="#/"><span class="fa fa-home" aria-hidden="true"></span> Dashboard</a></li>
    <li class="active"><span class="fa fa-book" aria-hidden="true"></span> {{title}}</li>
    <li><a href="*" ng-click="showModal()" ><span class="fa fa-book" aria-hidden="true"></span> show modal</a></li>
</ol>

<h3>
  {{title}}
</h3>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-left toolbar">
        <a type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#disciplineCreateModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Novo
          </a>
      </div>

      <form class="navbar-form navbar-left" role="search" ng-submit="searchDisciplines()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nome ou código da disciplina" style="min-width:300px;">
        </div>
        <button type="submit" class="btn btn-default" ng-disable="onTransaction">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar</button>
      </form>

    </div>
  </nav>

  <discipline-create-view></discipline-create-view>



<div>
  <table class="table table-striped" ng-table="tableParams">
    <tbody>
      <tr ng-repeat="discipline in $data"  ng-mouseover="showButtons = true" ng-mouseleave="showButtons = false">
        <td data-title="'Cód'" sortable="'code'" width="20%">{{discipline.code}}</td>
        <td data-title="'Nome'" sortable="'name'" width="60%">{{discipline.name}}</td>
        <td width="20%">
            <form ng-show="showButtons" style="margin-bottom:0;" ng-submit="updateDiscipline">
                <input type="text" ng-model="formData.code" value="{{discipline.code}}"/>
                <input type="text" ng-model="formData.name" value="{{discipline.name}}"/>
                <input type="text" ng-model="formData.workload" value="{{discipline.workload}}"/>

                <input type="submit" value="Editar" class="btn btn-primary btn-sm"/>
            </form>

        </td>
      </tr>

      <tr ng-show="onResponse || onTransaction" ng-hide="onResponse">
        <td colspan="2" class="{{responseData.status}} text-{{responseData.status}}">
          <i class="fa fa-{{responseData.status}}"></i>
          {{responseData.message}}
        </td>
      </tr>

    </tbody>
  </table>

  <p><strong>Page:</strong> {{tableParams.page()}}
  <p><strong>Count per page:</strong> {{tableParams.count()}}

</div>
