<div class="container-fluid mainContent">

<app-header>
</app-header>

<ol class="breadcrumb">
    <li><a href="#/dashboard"><span class="fa fa-home" aria-hidden="true"></span> Dashboard</a></li>
    <li class="active"><span class="fa fa-book" aria-hidden="true"></span> {{title}}</li>
</ol>

<h3>
  {{title}}
</h3>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-left toolbar">
        <!-- <discipline-create-view></discipline-create-view> -->
        <modal id="disciplineCreateModal" on-primary-button-click-event="saveDiscipline()" primary-button-text="Salvar" modal-title="Novo Registro" modal-body="../discipline/disciplineCreateModal.html"></modal>
        <a data-target="#{{disciplineCreateModal}}" type="button" class="btn btn-primary navbar-btn" data-toggle="modal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Novo
          </a>
      </div>

      <form class="navbar-form navbar-left" role="search" ng-submit="searchDisciplines()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nome ou código da disciplina" style="min-width:300px;">
        </div>
        <button type="submit" class="btn btn-primary" ng-disable="onTransaction">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar</button>
      </form>

    </div>
  </nav>





<div>
  <table class="table table-striped" ng-table="tableParams">
    <tbody>
      <tr ng-repeat="discipline in $data"  ng-mouseover="showButtons = true" ng-mouseleave="showButtons = false">
        <td data-title="'Cód'" sortable="'code'" width="20%">{{discipline.code}}</td>
        <td data-title="'Nome'" sortable="'name'" width="40%">{{discipline.name}}</td>
        <td data-title="'Carga Horária'" sortable="'name'" width="20%">{{discipline.workload}}</td>
        <td width="20%">
            <form ng-show="showButtons" style="margin-bottom:0;" ng-submit="updateDiscipline()">
                <input type="text" ng-model="discipline.code"/>
                <input type="text" ng-model="discipline.name"/>
                <input type="text" ng-model="discipline.workload"/>
                <input type="submit" value="Editar" class="btn btn-primary btn-sm"/>
            </form>

        </td>
      </tr>

      <tr ng-show="onResponse || onTransaction" ng-hide="onResponse">
        <td colspan="3" class="{{responseData.status}} text-{{responseData.status}}">
          <i class="fa fa-{{responseData.status}}"></i>
          {{responseData.message}}
        </td>
      </tr>

    </tbody>
  </table>

  <p><strong>Page:</strong> {{tableParams.page()}}
  <p><strong>Count per page:</strong> {{tableParams.count()}}

</div>

</div>
