<ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li class="active">Disciplinas</li>

</ol>

<h3>
  {{title}}
</h3>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header toolbar">
        <a type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#disciplineCreateModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Novo
          </a>
      </div>

      <form class="navbar-form navbar-left" role="search" ng-submit="searchDisciplines()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nome ou código da disciplina">
        </div>
        <button type="submit" class="btn btn-default" ng-disable="onTransaction">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar</button>
      </form>

    </div>
  </nav>

  <discipline-create-view></discipline-create-view>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th data-field="code">Cód</th>
        <th data-field="name">Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr id="tr_id_1" class="tr-class-1" ng-repeat="discipline in disciplines">
        <td id="td_id_1" class="td-class-1">{{discipline.code}}</td>
        <td>{{discipline.name}}</td>
      </tr>
      <tr ng-show="onResponse || onTransaction ">
        <td colspan="2" class="{{responseData.status}} text-{{responseData.status}}">
          <i class="fa fa-{{responseData.status}}"></i>
          {{responseData.message}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
